@{
    ViewBag.Title = "Index";
}

<h2>GroupDocs.Viewer Sample</h2>

<div id="test" ng-app="groupdocsViewer" style="overflow: hidden; margin-bottom: 20px;background-color: gray;height:700px;width:100%"></div>
	
<script type="text/javascript">
	$(function () {
$("#test").groupdocsViewer({
	        //filePath: "candy.pdf",
	        filePath: "Deutschland201207Arbeit.pdf",
	        showHeader: true,
	        showFolderBrowser: false,
            showThumbnails: false,
            showZoom: true,
            useHtmlBasedEngine: false,
            supportTextSelection: true
	    });
	});
</script>


